<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista!!!</title>
    <!--CSS-->
    <link rel="stylesheet" href="style.css">
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

     <!-- Fontawesome -->
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>

     <!-- VueJS -->
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--JS-->
    <script defer src="script.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <header>
                <figure class="text-center my-2">
                    <img src="img/Logo.png" alt="logo" class="img-fluid">
                </figure>
            </header>
            <main class="w-50 mx-auto">
                <h2 class="my-3">ToDo List:</h2>

                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Aggiungi qualcosa da fare" v-model.trim='newText' @keyup.enter="addNewTask" @keyup.esc="deleteTask">
                    <button class="btn btn-outline-success" type="button" @click="addNewTask">Add</button>
                </div>

                <ul class="list-group display-flex">
                    <li class="list-group-item d-flex justify-content-between"  v-for="(task,i) in tasks">
                        <div v-if="task.done" :class="textDecoration" @click="doneTask(i)">{{ task.text }}</div>
                        <div v-else @click="doneTask(i)" >{{ task.text }}</div>
                        <i class="fa-solid fa-trash-can" @click="deleteTask(i)"></i>
                    </li>
                    
                  </ul>
            </main>
        </div>
    </div>
</body>
</html>